<!-- <ng-template #loggedOut>
  <button class="btn btn-outline-primary" (click)="auth.loginWithRedirect()">
    Ingresar
  </button>
</ng-template>

<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
  <button class="btn btn-outline-danger" (click)="auth.logout({ returnTo: document.location.origin })">
    Salir
  </button>
</ng-container> -->

<!-- <button class="btn btn-outline-primary" *ngIf="auth.isAuthenticated$" (click)="auth.loginWithRedirect()">Log in</button>

<button class="btn btn-outline-primary" *ngIf="!auth.isAuthenticated$" class="btn btn-outline-primary"
  (click)="auth.logout({ returnTo: document.location.origin })">
  Log out
</button> -->